/.idea/.gitignore
!/data/inr_tracker.db
!/.idea/
/.idea/INR Tracker.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/INR_Tracker.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
