/.idea/.gitignore
!/data/inr_tracker.db
!/.idea/
/.idea/INR Tracker.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_12_18_2021_8_59_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_18_2021_8_59_AM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_12_18_2021_8_59_AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_18_2021_8_59_AM__Changes_.xml
/.idea/workspace.xml
